# Data files
*.root
*.log
*.zip
*.dat
*.DataSource*
/products
/config
*.tar
*.tar.gz

# image outputs
*.eps
*.pdf
*.png
*.jpg
*.jpeg


# build files
*.o
*.pyc
/src/rcp
/bin/rcp

/runner/_grid

# sublime
*.sublime-workspace
